<h1 class="title">Пользователи</h1>

<% @users.each do |user| %>
  <div class="card">
    <strong><%= link_to user.username, user_path(user) %></strong>
    <% if current_user.follows?(user) %>
      <% follow = current_user.active_follows.find_by(followed: user) %>
      <div class="actions">
        <%= button_to "Отписаться", follow_path(follow), method: :delete, class: "btn btn-danger", form_class: "inline-form" %>
      </div>
    <% else %>
      <div class="actions">
        <%= button_to "Подписаться", follows_path(followed_id: user.id), method: :post, class: "btn", form_class: "inline-form" %>
      </div>
    <% end %>
  </div>
<% end %>
