<%- if controller_name != "registrations" && devise_mapping.respond_to?(:registerable?) && devise_mapping.registerable? %>
  <div style="margin-top: 12px;">
    <%= link_to "Регистрация", new_registration_path(resource_name) %>
  </div>
<%- end %>

<%- if controller_name != "sessions" %>
  <div style="margin-top: 12px;">
    <%= link_to "Вход", new_session_path(resource_name) %>
  </div>
<%- end %>

